{{#if user}}
<h4>Anti-stress Gym</h3>
    <hr>
    <br>
    <br>
    <div class="row valign-wrapper" style="padding-bottom: 3rem;">
        <div class="col s2" style=" margin-left:1rem; ">
            <img src="../layouts/images/adult-black-and-white-dark-face-412840.jpg" alt="me"
                class="circle responsive-img">
            <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
            <span class="white-text" style="font-size: 1rem;">
                Benramdane Tahar
            </span>
        </div>
    </div>
    <div>
        <a href="/"><i class="material-icons">computer</i>Dashboard </a>
        <a href="../membres"><i class="material-icons">people</i>Gestion des inscriptions</a>
        <a href="../emplois"><i class="material-icons">date_range</i>Gestion d'emploi du
            temps</a>
        <a href="../achats"><i class="material-icons">shopping_cart</i>Gestion des achats </a>

    </div>

    {{else}}
    <h4 style="  transform: rotate(-90deg); margin-top:16rem; font-size: 4rem;">Anti-stress Gym</h3>


        {{/if}}