{{#if user}}
<h2 style="color: rgb(255, 81, 0); margin-bottom:0;">{{title}}</h2>

<div class="container ">
    <p style="text-align: center;">Anti-stress Dashboard pour gerer la salle!</p>
    <a href="/membres/add" class="waves-effect waves-light btn">Ajouter un Membre<i class="fas fa-plus addd"></i></a>
    <br><br>
    <a href="/achats/add" class="waves-effect waves-light btn">Ajouter un Produit<i class="fas fa-plus addd"></i></a>
    <br><br>
    <a href="mailto:fitgeek96@gmail.com" class="waves-effect waves-light btn">Envoyer un Rapport<i
            class="fas fa-envelope addd"></i></a>

</div>
{{else}}



{{/if}}