<h4 style="color: orange;">Votre avancement durant ce Moi</h4>

<div class="container" style="padding:0 !important; margin:0 !important;">
    <div class="row">
        <div class="col s12 m12">

            <ul class="chart">
                <li>
                    <span style="height:5%" title="graisse"></span>
                </li>
                <li>
                    <span style="height:70%" title="Masse Musculaire"></span>
                </li>
                <li>
                    <span style="height:50%" title="Volume Musculaire"></span>
                </li>

            </ul>


        </div>
    </div>
</div>