<h4 style="color: rgb(54, 172, 8);">{{tit}}</h4>

<div class="container" id="table">


    <div class="row">
        <form class="col s12" action="/emplois" method="POST">


            <div class="col s12">
                <table class="responsive-table centered">
                    <thead>
                        <tr id="jours">
                            <th>Dimanche</th>
                            <th>Lundi</th>
                            <th>Mardi</th>
                            <th>Mercredi</th>
                            <th>Jeudi</th>
                            <th>Vendredi</th>
                            <th>Samedi</th>

                        </tr>
                    </thead>
                    <tbody>


                        <tr>
                            <td>
                                <p class="time"> <input type="text" name="timeD" placeholder="00:00">-<input type="text"
                                        name="timeD" placeholder="00:00"></p>
                                <br>
                                <input type="text" name="sportD" placeholder="MMA, Fit ..."></p>
                            </td>
                            <td>
                                <p class="time"> <input type="text" name="timeL" placeholder="00:00">-<input type="text"
                                        name="timeL" placeholder="00:00"></p>
                                <br>
                                <input type="text" name="sportL" placeholder="MMA, Fit ..."></p>
                            </td>
                            <td>
                                <p class="time"> <input type="text" name="timeM" placeholder="00:00">-<input type="text"
                                        name="timeM" placeholder="00:00"></p>
                                <br class="time">
                                <input type="text" name="sportM" placeholder="MMA, Fit ..."></p>
                            </td>
                            <td>
                                <p class="time"> <input type="text" name="timeMer" placeholder="00:00">-<input
                                        type="text" name="timeMer" placeholder="00:00"></p>
                                <br>
                                <input type="text" name="sportMer" placeholder="MMA, Fit ..."></p>
                            </td>
                            <td>
                                <p class="time"> <input type="text" name="timeJ" placeholder="00:00">-<input type="text"
                                        name="timeJ" placeholder="00:00"></p>
                                <br>
                                <input type="text" name="sportJ" placeholder="MMA, Fit ..."></p>
                            </td>
                            <td>
                                <p class="time"> <input type="text" name="timeV" placeholder="00:00">-<input type="text"
                                        name="timeV" placeholder="00:00"></p>
                                <br>
                                <input type="text" name="sportV" placeholder="MMA, Fit ..."></p>
                            </td>
                            <td>
                                <p class="time"> <input type="text" name="timeS" placeholder="00:00">-<input type="text"
                                        name="timeS" placeholder="00:00"></p>
                                <br>
                                <input type="text" name="sportS" placeholder="MMA, Fit ..."></p>
                            </td>




                        </tr>





                    </tbody>
                </table>



            </div>

            <button class="btn waves-effect waves-light cyan darken-3 foto" type="submit" name="action">Ajouter sur
                l'emploi du temps
                <i class="material-icons right foto">send</i>
            </button>

        </form>
    </div>

</div>