<h4 style="color: rgb(54, 172, 8);">{{tit}}</h4>

<div class="container" id="table">


    <div class="row">
        <form class="col s12" action="/emplois" method="POST">


            <div class="col s12">
                <table class="responsive-table centered">
                    <thead>
                        <tr id="jours">
                            <th>Dimanche</th>
                            <th>Lundi</th>
                            <th>Mardi</th>
                            <th>Mercredi</th>
                            <th>Jeudi</th>
                            <th>Vendredi</th>
                            <th>Samedi</th>

                        </tr>
                    </thead>
                    <tbody>


                        <tr>
                            <td>
                                <p class="time"> <input class="input_time" type="text" name="timeDd"
                                        placeholder="00:00">-<input class="input_time" type="text" name="timeDf"
                                        placeholder="00:00"></p>
                                <br>
                                <input type="text" name="sportD" placeholder="MMA, Fit ..."></p>
                            </td>
                            <td>
                                <p class="time"> <input class="input_time" type="text" name="timeLd"
                                        placeholder="00:00">-<input class="input_time" type="text" name="timeLf"
                                        placeholder="00:00"></p>
                                <br>
                                <input type="text" name="sportL" placeholder="MMA, Fit ..."></p>
                            </td>
                            <td>
                                <p class="time"> <input class="input_time" type="text" name="timeMd"
                                        placeholder="00:00">-<input class="input_time" type="text" name="timeMf"
                                        placeholder="00:00"></p>
                                <br class="time">
                                <input type="text" name="sportM" placeholder="MMA, Fit ..."></p>
                            </td>
                            <td>
                                <p class="time"> <input class="input_time" type="text" name="timeMerd"
                                        placeholder="00:00">-<input class="input_time" type="text" name="timeMerf"
                                        placeholder="00:00"></p>
                                <br>
                                <input type="text" name="sportMer" placeholder="MMA, Fit ..."></p>
                            </td>
                            <td>
                                <p class="time"> <input class="input_time" type="text" name="timeJd"
                                        placeholder="00:00">-<input class="input_time" type="text" name="timeJf"
                                        placeholder="00:00"></p>
                                <br>
                                <input type="text" name="sportJ" placeholder="MMA, Fit ..."></p>
                            </td>
                            <td>
                                <p class="time"> <input class="input_time" type="text" name="timeVd"
                                        placeholder="00:00">-<input class="input_time" type="text" name="timeVf"
                                        placeholder="00:00"></p>
                                <br>
                                <input type="text" name="sportV" placeholder="MMA, Fit ..."></p>
                            </td>
                            <td>
                                <p class="time"> <input class="input_time" type="text" name="timeSd"
                                        placeholder="00:00">-<input class="input_time" type="text" name="timeSf"
                                        placeholder="00:00"></p>
                                <br>
                                <input type="text" name="sportS" placeholder="MMA, Fit ..."></p>
                            </td>




                        </tr>





                    </tbody>
                </table>



            </div>

            <button class="btn waves-effect waves-light cyan darken-3 foto" type="submit" name="action">Ajouter sur
                l'emploi du temps
                <i class="material-icons right foto">send</i>
            </button>

        </form>
    </div>

</div>