<h4 style="color: rgb(51, 224, 51);">Regime alimentaire pour un Ectomorphe</h4>

<div class="container" style="width: 100% !important;  padding: 2rem  !important;">

    <div class="row">
        <table id="regime" class="striped">
            <thead>
                <tr>
                    <th style="color:rgb(255, 123, 0)">Jour</th>
                    <th style="color: blue;">Petit Déjeuner</th>
                    <th style="color:rgb(235, 61, 61);">Déjeuner</th>
                    <th style="color:rgb(133, 204, 27)">Dîner</th>

                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="jour">Samedi</td>
                    <td>4 blancs d’oeufs avec 1 jaune <br> 160g de pain de maïs avec 5g de beurre</td>
                    <td>140g de viande rouge maigre <br>250g de pâtes ou de riz 120g de légumes au choix avec 1 c-à-s
                        d’huile d’olive<br> 3 à 4 noix</td>
                    <td>150g de viande blanche 250g de pâtes ou de riz Légumes verts à volonté avec 1 c-à-s l’huile de
                        colza</td>

                </tr>
                <tr>
                    <td class="jour">Dimanche</td>
                    <td>5 à 6 blancs d’oeufs avec 1 jaune<br> 210g de pain de maïs avec 5g de beurre + Xenatest Hardcore
                    </td>
                    <td>230g de fromage blanc (20%)<br> 30g de fuits secs oléagineux<br> 200g de compote de fruits sans
                        sucre
                        ajouté + Mass Advanced</td>
                    <td>200g de viande rouge maigre<br> 330g de pâtes ou de riz<br> 130g de légumes au choix avec 1
                        c-à-s
                        d’huile d’olive</td>

                </tr>
                <tr>
                    <td class="jour">Lundi</td>
                    <td> 3 tranches de blanc de poulet <br>1 banane 30g de fruits secs oléagineux<br> + Mass
                        Advanced<br> + Bcaa
                        Xtrême<br>+ Créatine Hardcore<br> + Xenatest Hardcore</td>
                    <td>250g de viande blanche<br> 300g de pâtes ou de riz Légumes verts à volonté avec 1 c-à-s l’huile
                        de
                        colza</td>
                    <td>3 tranches de jambon cuit<br> 100g de flocons d’avoine ou 80g de muesli (sans sucre ajouté) 20cl
                        de
                        lait végétal</td>

                </tr>
                <tr>
                    <td class="jour">Mardi</td>
                    <td>120g de fromage blanc (20%) <br>+Amino Max +Mass Advanced</td>
                    <td>150g de poisson gras<br> 250g de pomme de terre 120g de légumes au choix avec 1 c-à-s d’huile
                        d’olive 3 à 4 noix</td>
                    <td>50g de fromage blanc (20%) <br>1 fruit frais<br> +Amino Max<br> +Mass Advanced +Créatine
                        Hardcore</td>

                </tr>
                <tr>
                    <td class="jour">Mercredi</td>
                    <td>5 à 6 blancs d’oeufs avec 1 jaune<br> 210g de pain de maïs avec 5g de beurre + Xenatest Hardcore
                    </td>
                    <td>230g de fromage blanc (20%)<br> 30g de fuits secs oléagineux <br>200g de compote de fruits sans
                        sucre
                        ajouté + Mass Advanced</td>
                    <td>200g de viande rouge maigre <br>330g de pâtes ou de riz<br> 130g de légumes au choix avec 1
                        c-à-s
                        d’huile d’olive</td>
                </tr>
                <tr>
                    <td class="jour">Jeudi</td>
                    <td>5 à 6 blancs d’oeufs avec 1 jaune <br>210g de pain de maïs avec 5g de beurre + Xenatest Hardcore
                    </td>
                    <td>230g de fromage blanc (20%) <br>30g de fuits secs oléagineux <br>200g de compote de fruits sans
                        sucre
                        ajouté + Mass Advanced</td>
                    <td>200g de viande rouge maigre<br> 330g de pâtes ou de riz <br>130g de légumes au choix avec 1
                        c-à-s
                        d’huile d’olive</td>
                </tr>
                <tr>
                    <td class="jour">Vendredi</td>
                    <td>120g de fromage blanc (20%) <br>+Amino Max<br> +Mass Advanced</td>
                    <td>150g de poisson gras<br> 250g de pomme de terre<br> 120g de légumes au choix avec 1 c-à-s
                        d’huile
                        d’olive<br> 3 à 4 noix</td>
                    <td>50g de fromage blanc (20%) <br>1 fruit frais <br>+Amino Max<br> +Mass Advanced<br> +Créatine
                        Hardcore</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>