<div class="container" id="cardd" style=" padding-right:1rem; width: 100%;">


    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="../layouts/images/chest.jpg">
                    <span class="card-title">Programme Pectoraux</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                            class="material-icons foto">remove_red_eye</i></a>
                </div>
                <div class="card-content">
                    <div class="card-action">
                        <a href="../membres/pec">
                            <h4>Acceder au programme</h4>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="../layouts/images/dorso.jpg">
                    <span class="card-title">Programme Dorso</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                            class="material-icons foto">remove_red_eye</i></a>
                </div>
                <div class="card-content">
                    <div class="card-action">
                        <a href="../membres/dorso">
                            <h4>Acceder au programme</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="../layouts/images/epaule.jpg">
                    <span class="card-title">Programme Epaules</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                            class="material-icons foto">remove_red_eye</i></a>
                </div>
                <div class="card-content">
                    <div class="card-action">
                        <a href="../membres/epaule">
                            <h4>Acceder au programme</h4>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img
                        src="../layouts/images/fitness-bodybuilding-bodybuilder-exercise-machine-wallpaper-preview.jpg">
                    <span class="card-title">Programme Jambes</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                            class="material-icons foto">remove_red_eye</i></a>
                </div>
                <div class="card-content">
                    <div class="card-action">
                        <a href="../membres/jambe">
                            <h4>Acceder au programme</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="../layouts/images/bras.jpg">
                    <span class="card-title">Programme Bras</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                            class="material-icons foto">remove_red_eye</i></a>
                </div>
                <div class="card-content">
                    <div class="card-action">
                        <a href="../membres/bras">
                            <h4>Acceder au programme</h4>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="../layouts/images/abs.jpg">
                    <span class="card-title">Programme Abdos</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                            class="material-icons foto">remove_red_eye</i></a>
                </div>
                <div class="card-content">
                    <div class="card-action">
                        <a href="../membres/abs">
                            <h4>Acceder au programme</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>