<div class="container" id="cardd" style=" padding-right:1rem; width: 100%;">


    <h4 style="color:  red;">{{title}}</h4>
    <div class="row">
        <div class="col s12">
            <img src="../layouts/images/bras_workout.jpeg" alt="" srcset="">
        </div>
    </div>

</div>