<div class="container" id="cardd" style=" padding-right:1rem; width: 100%;">


    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img
                        src="../layouts/images/fitness-bodybuilding-bodybuilder-exercise-machine-wallpaper-preview.jpg">
                    <span class="card-title">Programme fitness</span>
                    <a href="../membres/add" class="btn-floating halfway-fab waves-effect waves-light red"><i
                            class="material-icons foto">remove_red_eye</i></a>
                </div>
                <div class="card-content">
                    <p> <span class="card_items"> Duree d'entrainement : </span> 12 semaines</p>
                    <p> <span class="card_items"> Niveau d'entrainement : </span> Amateur</p>
                    <p> <span class="card_items"> Coach responsable : </span> Hamri mustapha</p>


                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="../layouts/images/index.jpg">
                    <span class="card-title">Programme MMA</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                            class="material-icons foto">remove_red_eye</i></a>
                </div>
                <div class="card-content">
                    <p> <span class="card_items"> Duree d'entrainement : </span> 10 semaines</p>
                    <p> <span class="card_items"> Niveau d'entrainement : </span> Amateur</p>
                    <p> <span class="card_items"> Coach responsable : </span> Hamri mustapha</p>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="../layouts/images/swimm.jpg">
                    <span class="card-title">Programme Natation</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                            class="material-icons foto">remove_red_eye</i></a>
                </div>
                <div class="card-content">
                    <p> <span class="card_items"> Duree d'entrainement : </span> 8 semaines</p>
                    <p> <span class="card_items"> Niveau d'entrainement : </span> Amateur</p>
                    <p> <span class="card_items"> Coach responsable : </span> Hamri mustapha</p>


                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="../layouts/images/frewr.jpg">
                    <span class="card-title">Programme Yoga</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                            class="material-icons foto">remove_red_eye</i></a>
                </div>
                <div class="card-content">
                    <p> <span class="card_items"> Duree d'entrainement : </span> / </p>
                    <p> <span class="card_items"> Niveau d'entrainement : </span> Amateur</p>
                    <p> <span class="card_items"> Coach responsable : </span> Hamri mustapha</p>


                </div>
            </div>
        </div>
    </div>

</div>